/* Contact section */
/* footer {
  height: 20vh;
  font-family: sans-serif !important;
  position: static;
}
footer h2 {
  margin: 0 0 0 0;
}
.contacts-container img {
  height: 50px;
  width: 50px;
  padding: 20px 20px 0 0;
} */
